@media (min-width: 768px)  {
    .anaimg{
        width: 42vw;
        height: 27vw;
        margin-top: 29px;
        margin-left: 50px;
    }

    .anaimg1{
        display: none;
    }

    .annualtext{
        margin-left: 20px;
        margin-top: 2px;
        font-size: 17px;
    }

    .annualtext1{
        margin-left: 20px;
        margin-top: 15px;
        font-size: 27px;
        font-family: 'Lucida Sans Unicode';
        font-weight: bold;
    }

    .annualtext2{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 19px;
        font-weight: lighter;
    }

    .anadiv{
        background-color: rgba(212, 210, 210, 0.288);
        padding: 25px;
        border: 0 transparent;
        width: 49%;
        margin-top: 14px;
    }

    .ana{
        display: flex;
        flex-direction: row;
        font-size: 6px;
    
    }

}





@media (min-width: 320px) and (max-width: 767px)  {
    
    .anaimg{
        display: none;
    }

    .anaimg1{
        width: 80vw;
        margin-top: 40px;
        margin-left: 40px;
    }

    .annualtext{
        margin-left: 20px;
        margin-top: 15px;
        font-size: 14px;
    }

    .annualtext1{
        margin-left: 20px;
        margin-top: 15px;
        font-size: 21px;
        font-family: 'Lucida Sans Unicode';
        font-weight: bold;
    }

    .annualtext2{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 18px;
        font-weight: lighter;
    }

    .anadiv{
        background-color: rgba(212, 210, 210, 0.349);
        padding: 10px;
        border: 0 transparent;
        width: 95%;
        margin-top: -5px;
        margin-left: 16px;
    }




}