


@media (min-width: 1024px) {
    .timemed {
        width: 95rem;
        height: 65rem;
        margin-top: -13px;
       
       }
       
       
       .timeimg{
         width:  100vw;
         
       }

       .backimg{
        display: none;
      }
       
       .timecaption {
         position: absolute;
         top: 350px;
         bottom: 40px;
         left: 125px;
         right: -100px;
       }


       .a{
        color: white;
        font-weight: bold;
        font-size: 30px;
      }
  

      .b{
        color: white;
        font-weight: bold;
        font-size: 28px;
      }

      .c{
        color: #219c90;
        font-size: 30px;
      }

      .d{
        color: #219c90;
        font-size: 28px;
      }

      .e {
        color: white;
        font-size: 28px;
      }

      .f{
        color: #219c90;
        font-size: 25px;
      }

      .g {
        color: white;
        font-size: 25px;
      }

      .h{
        color: #219c90;
        font-size: 25px;
      }

      .i {
        color: white;
        font-size: 28px;
      }

      .j {
        color: white;
        font-size: 28px;
      }


      .k {
        color: white;
        font-size: 28px;
      }


      .l{
        color: #219c90;
        font-size: 28px;
      }

      .m{
        color: #219c90;
        font-size: 28px;
      }

      .n {
        color: white;
        font-size: 28px;
      }


      .o {
        color: white;
        font-size: 28px;
       }
  

}



@media (max-width: 767px) {
    .timecaption {
        /* position: absolute; */
        /* top: 330px;
        left: 30px; */
        padding: 15px;
        width: 100vw;
        height: 300px; 
        background-image: url("../../Assets/hHeader.png");
        background-repeat: none;
        background-size: cover;
        background-position: center;
      }
    

      .bbb{
        margin-top: 82px;
        margin-left: 30px;
      } 


      
       .timeimg{
        display: none;
       }
    

    .timemed{
      margin-top: -10px;
    
    }

    .a{
      color: white;
      font-weight: bold;
      font-size: 16px;
    }

    .b{
      color: white;
      font-weight: bold;
      font-size: 15px;
    }

    .c{
      color: #219c90;
      font-size: 15px;
    }

    .d{
      color: #219c90;
      font-size: 15px;
    }

    .e {
      color: white;
      font-size: 16px;
    }

    .f{
      color: #219c90;
      font-size: 16px;
    }

    .g {
      color: white;
      font-size: 18px;
    }

    .h{
      color: #219c90;
      font-size: 15px;
    }

    .i {
      color: white;
      font-size: 14px;
    }

    .j {
      color: white;
      font-size: 14px;
    }

    .k {
      color: white;
      font-size: 15px;
    }

    .l{
      color: #219c90;
      font-size: 16px;
    }

    .m{
      color: #219c90;
      font-size: 17px;
    }



    .n {
      color: white;
      font-size: 16px;
    }

     .o {
      color: white;
      font-size: 13px;
     }





}