@media (min-width: 768px) {
  .philosophytext{
    font-weight: bold;
    font-family:'Arial Narrow';
    padding-left: 75px;
    position: absolute;
    font-size: 22px;
    margin-top: 20px;
  }

  .philosophymaintext{
    margin-top: 45px;
    font-size: 22px;
    margin-left: 190px;
    font-weight: lighter;
    width: 480px;
    height: auto;
  }
  
  
  .philodiv{
    margin-top: -350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .homeimg{
    margin-top: 70px;
    width: 580px;
    margin-left: 75px;
  
  
  }
}



    








@media (min-width: 320px) and (max-width: 767px)  {
    .philosophytext{
        font-weight: bold;
        font-family:'Arial Narrow';
        font-size: 19px;
        margin-top: 12px;
        margin-left: 10px;
        margin-bottom: 12px;
        padding: 10px;
      }
    
      .philodiv{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
      }
    
    .philosophymaintext{
      padding: 15px;
      font-size: 19px;
      margin-left: 8px;
      font-weight: light;
      font-family: 'serif';
    }
    
    .homeimg{
      height: auto;
      display: block;
      width: 97vw;
      margin-left: 10px;
    }
    
}