

@media (min-width: 1024px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        background-color: white;
        color: #333;
        margin-bottom: 5px;
      }
      
      
      .logo{
        padding-left: 85px;
        height: 55px;
      
      }
    
      .navlinks{
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-right: 120px;
        padding:  5px;
        font-size: 22px;
        font-weight: light;
        color:black;
      }
      
      .navlinks li{
        margin: 0 15px;
      }
      
      
      .navlinks a{
        text-decoration: none;
        cursor: pointer;
        z-index: 1;
        color: #777575;
      }
      
      .home {
        color:#219c90;
        text-decoration: underline;
        cursor: pointer;
      }
      
      
      .navlinks a:hover{
        color:#219c90;
      }
      
      .solutionlabel{
        cursor: pointer;
        color: #777575;
      }
      
      
      
      .solutiionlabel{
        color:#777575;
        cursor: pointer;
      }
      
      
      .solutionlabel:hover{
        color:#219c90;
      }
      
      .selectbox{
        position: absolute;
        left: 62;
        transform: translate(35%);
        width: 140px;
        justify-content: center;
        background-color: #219c90;
        font-size: 15px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 25px;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 8px;
      }
      
      
      .selectbox li{
        border: 1px solid white;
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 40px;
        color: white;
        cursor: pointer;
      }
      
      .solution li:hover{
        color: #527853;
        transition: 0.3s ease;
      }
      
      input[type=checked] {
        display: none;
        
    }
    
    .hamburger{
        display: none;
        font-size: 24px;
        user-select: none;
    
    }
    
    #checkboxtoggle{
        display: none;
    
    }

    .menu{
        display: flex;
        gap: 1em;
        font-size: 22px;
    
   }

   .solutionlabel{
    cursor: pointer;
    cursor: pointer;
    color: #777575;
  }
  
  
  
  .solutionlabel:hover{
    color:#219c90;
  }
  

}










@media (max-width: 767px) {

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: #333;
      }
      
      
      .logo{
        width: 100px;
        height: 25px;
        margin-left: 15px;
        margin-top: -10px;
      }
       
    
      .navlinks{
        display: none;
      }
    

    input[type=checkbox]:checked ~ .menu {
        display: block;
       
    }


     .hamburger{
        display: block;
        font-size: 24px;
     }

     #checkboxtoggle{
        display: block;
    
    }

    .menu{
        display: none;
        position: absolute;
        background-color: #219c90;
        right: 0;
        left: 0;
        text-align: left;
        padding: 16px;
    
    }
    

}