




@media (min-width: 768px) {


  .navbar{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 15px;
    background-color: white;
    color: #333;
    margin-bottom: 5px;

  }
  


  
  .logo{
    padding-left: 85px;
    height: 55px;
    /* align-items: start; */
  }

  .navlinks{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: light;
    color:black;
    cursor: pointer;
  }
  
  .navlinks li{
    margin: 0 15px;
    display: inline;
    cursor: pointer;
  }
  
  
  .navlinks a{
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    color: #777575;
  }
  
  .home {
    color:#219c90;
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  .navlinks a:hover{
    color:#219c90;
  }

  .mobilemenuicon{
    display: none;
  }

  
  .solutionlabel{
    cursor: pointer;
    color: #777575;
  }
  
  
  .dp{
    color: black;
    font-size: 20px;
  }
  
  .solutionlabel:hover{
    color:#219c90;
  }

  
  .solution{
    position: absolute;
    left: 62;
    transform: translate(35%);
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #219c90;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 8px;
  }
  
  
  .solution li{
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    line-height: 40px;
    color: white;
    cursor: pointer;
  }
  
  .solution li:last-child {
       border: none;
  }
  
  
  .solution li:hover{
    color: #527853;
    transition: 0.3s ease;
  }

  


.menu{
    display: inline-flex;
    flex-direction: row;
    /* justify-content: end; */
    margin-left: 170px;
    gap: 1em;
    font-size: 20px;

} 

.menu li:hover{
cursor: pointer;
color:#219c90;
}




.solutionlabel:hover{
color:#219c90;
}


.close{
display: none;
}






}






@media (min-width: 320px) and (max-width: 767px) {

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white;
        color: #333;
      }
      
      
      .logo{
        width: 100px;
        height: 25px;
        margin-left: 15px;
        margin-top: -10px;
      }
       
    
      .navlinks{
        cursor: pointer;
        margin-top: 20px;
      
      }
  

    .menu{
        display: none;
        flex-direction: column;
        /* position: absolute; */
        background-color: #377e77;
        right: 0;
        left: 0;
        text-align: left;
        padding: 10px;
        cursor: pointer;
        width: 100%; 
        margin: 0%;
    }

    .menu.open {
      display: flex;
      cursor: pointer;
      position: absolute;
    
    }



    .menu li{
      border: 1px solid white;
      border-top: none;
      border-left: none;
      border-right: none;
      line-height: 30px;
      color: white;
      padding: 10px;
      cursor: pointer;
      font-size: 15px;
    }
    

    .menu li:hover{
        color:#527853
    }

    
   

    
    .solution li:hover{
      color: #527853;
      transition: 0.3s ease;
    }





     .solution ul {
      background-color: white;
      padding: 0;
      margin: 0%;
     }

     .solution li {
      color:#219c90;
      cursor: pointer;
      border-bottom: 1px solid #527853;
      border-top: none;
      border-left: none;
      border-right: none;
      list-style-type: none;
      margin: 0;
      padding: 5px;
  
     }


    .mobilemenuicon{
      display: block;
      cursor: pointer;
      margin-top: -12px;
      display: flex;
      align-items: end;
      justify-items: end;
    }


 
    .solutionlabel:hover{
      color:#527853
    }



   .menu li:last-child{
    border: none;
   }
         
   


   
}