@media (min-width: 1024px) {
    
  .founderdiv{
    background-color: rgba(212, 210, 210, 0.233);
    padding: 50px;
    border: 0 transparent;
    margin: 100px;
  }
  
  .foundertext{
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    
  }
  
  .foundername{
     font-weight: normal;
     text-align: end;
     margin-top: 50px;
  }
  
  .founder{
   font-weight: lighter;
   font-size: smaller;
   text-align: end;
  }


  .name{
    display: flex;
    flex-direction: column;
  }
  

  .quoteleft{
      color: #219c90;
      font-size: 30px;
  }

   .quoteright{
    color: #219c90;
    margin-left: 1000px;
    font-size: 30px;
   }

   .qiconl{
    display: none;
  }
  
  
  .qiconr{
    display: none;
  }
  

}




@media (max-width: 767px) {


.founderdiv{
  text-align: center;
  margin-top: 35px;
  background-color: rgba(212, 210, 210, 0.493);
  padding: 25px;
  border: 0 transparent;
  margin: 20px;
}
.foundertext{
   font-size: 16px;
   font-weight: normal;
   text-align: center;
   font-style: italic;
}

.foundername{
    font-weight: normal;
    text-align: center;
}

.founder{
  font-weight: lighter;
  font-size: smaller;
  margin-left: 20px;
}

 
.quoteleft{
 display: none;
}

.quoteright{
 display: none;
}

.qiconl{
  font-size: 15px;
  color: #219c90;
  /* position: absolute;
  bottom: -559px;
  left: 40px */
}


.qiconr{
  font-size: 15px;
  color: #219c90;
}


}
