@media (min-width: 768px)  {
    .keep {
        color: rgba(0, 0, 0, 0.521);
        text-align: center;
        font-size: 26px;
        margin-top: 56px;
        font-family:"Calibri";
        font-weight: 560;
        position: absolute;
        top: 4910px;
        left: 550px;
        padding-bottom: 15px;
    }

     
    .informeddiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    .rivdiv {
       display: flex;
    flex-direction: row;
    }

     .riv{
        display: flex;
        flex-direction: row;
       
     }
        


    .peoplemg{
         width: 25vw;
         margin-bottom: 5px;
         padding: 20px;
    }
     
    .futuret{
        font-weight: bold;
        margin-bottom: 7px;
        margin-left: 19px;
        font-size: 18px;
    }

   .techtext{
      font-weight: lighter;
      position: relative;
      left: 20px;
      font-size: 18px;
    }



   .readtext{
    font-weight: light;
    font-family:'system-ui';
    color:#777575;
    font-size: 15px;
    padding-bottom: 30px;
    position: relative;
    left: 20px;
   }


}

   







@media (min-width: 320px) and (max-width: 767px)  {
        
   

    .keep {
        color: rgba(0, 0, 0, 0.521);
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        font-family:"Calibri";
        padding: 20px;
        margin-top: 90px;
    }


    .informeddiv{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        margin-left: 18px;
        /* width: 582px; */
        /* height: auto; */
        margin-top: 16px;
        /* width: 680px; */
    
    }


    .rivdiv {
        display: flex;
        flex-direction: row;
      
    }


     .riv{
        display: inline-block;
        width: 174px;
        height: 174px;
        /* margin-top: 15px; */
        /* padding: 8px; */
     }


    .peoplemg{
        width: 195px;
        padding: 5px;
        margin-left: 10px;
   }


   .futuret{
    font-weight: bold;
    margin-bottom: 7px;
    margin-left: 19px;
    font-size: 14px;
}

.techtext{
  font-weight: normal;
  position: relative;
  left: 17px;
  font-size: 14px;
  padding-right: 10px;
  color: rgb(8, 7, 7);
}

.techtext .br {
    display: none;
}


.readtext{
font-weight: light;
font-family:'system-ui';
color:#777575;
font-size: 14px;
position: relative;
left: 20px;
}


}