@media screen and (min-width: 1024px) {

  .footermain{
    background-color:#267269;
    margin-top: 50px;
  
  }

  .main{
    padding-top: 60px;
    padding-bottom: 60px;
   
  }

  table,td,th{
      color: rgb(255, 255, 255);
  }


  table{
    margin-left: 80px;
    border-top: 1px solid rgb(251, 217, 217);
    border-bottom: 1px solid rgb(251, 217, 217);
    width: 85vw;
    text-align: left;
    padding: 10px;
   
  }

  th{
    padding: 2px;
    display: inline;
    padding-right: 190px;
    font-weight: 100%;
  }


  td {
    display: inline-block;
    margin-right: 97px;
    padding: 2px;
    color: rgba(255, 255, 255, 0.822);
    font-size: 14px;
  
  }


  .cal{
    margin-left: 7px;
    display: flex;
    flex-direction: column;
  }

  .tal{
    margin-top: -55px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
  }

  .nal{
    margin-top: 5px;
    display: flex;
    flex-direction: column;


  }

  .bal{
    margin-top: -56px;
    position: absolute;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }


  .pho{
    width: 70px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 16px;
    padding: 10px;
    position: relative;
    top: -20px;
  }


  .phodiv {
    border-bottom: 1px solid rgb(251, 217, 217);
    width: 85vw;
    margin-left: 80px;
    color: white;
    padding: 20px;
  }

  .mindiv{
    margin-top: -100px;
    margin-left: 5px;
    font-size: 18px;
  }
    


.ss{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 75px;
}

.mede{
    margin-left: 80px;
    font-weight: bold;
}


.pan{
  color:  white;
  padding: 20px;
  font-size: 13px;
  margin-top: -70px;
  position: absolute;
  margin-left: 900px;

}
     
.last{
  color: white;
  margin-left: 860px;
}   






}












@media screen and (max-width: 964px) {
   
  .footermain{
        background-color:#267269;
        margin-top: 40px;
        color: white;
        padding: 20px;
        width: 100%;
        text-align: center;
      }
    
      .main{
        margin-top: 40px;
        border-top: 1px solid rgb(251, 217, 217);
      }
    
      table,td,th {
          color: rgb(255, 255, 255);
      }
    
     table{
        margin: 0%;
        padding: 0%;
        width: 100%;
        text-align: center;
        /* padding: 5px; */
        align-items: center;
        justify-content: center;
        
     }
    
      td {
        padding: 8px;
        color: rgba(255, 255, 255, 0.822);  
      }
      
      th{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 70px;
        font-size: 13px;
        margin-top: -50px;

      }


      tr {
        overflow: hidden;
      }

       .nal {
       margin-top: -420px;
       margin-left: -20px;
       display: flex;
       flex-direction: row;
     }

     .cal {
      margin-left: -365px;
      margin-top: -310px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 12px;
      text-align: center;
    }
   

    .tal {
      margin-left: -255px;
      margin-top: -190px;
      display: flex;
      flex-direction: row;
      font-size: 12px;
      text-align: center;
    }

    .bal {
      margin-top: -70px;
      margin-left: -450px;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      text-align: center;
      overflow: hidden;
  
    }

   .pan{
       position: absolute;
       margin-top: -130px;
       margin-left: -160px;
       font-weight: lighter;
       border-bottom: 1px solid rgb(251, 217, 217);
       border-top: 1px solid rgb(251, 217, 217);
       padding: 20px;
       width: 80%;
       text-align: center;
       font-size: 12px;
   }
   
  .mindiv{
    /* position: absolute; */
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: 85px;
    font-size: 15px;
    text-align: center;
  }
    

  .pho{
    width: 60px;
    margin-top: 75px;
    margin-left: -50px;
   }


.phodiv{
   /* margin-left: -10px; */
   text-align: center;

}



.ss{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
    margin-top: -30px;
    font-size: 13px;
}

.mede{
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
}

.lastfoot{
  border-top: 1px solid rgb(251, 217, 217);
  /* margin-top: -3px;
  font-size: 12px; */
}

.last{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   font-size: 12px;
   text-align: center;
   padding: 10px;
}

.med2023{
  display: flex;
  flex-direction: column;
  /* font-size: 15px; */
  margin-top: 87px;

}




}