@media (min-width: 768px)  {

    .vtext{
       color: rgba(0, 0, 0, 0.623);
       text-align: center;
       font-size: 37px;
       margin-top: 66px;
       font-family:"Calibri";
       font-weight: 560;
    }

    .v{
        color: rgba(0, 0, 0, 0.452);
        text-align: center;
        font-size: 17px;
        margin-top: 9px;
    }


}






@media (min-width: 320px) and (max-width: 767px)  {

    .vtext{
        color: rgb(8, 0, 0);
        text-align: center;
        font-size: 17px;
        margin-top: 24px;
        font-family: 'Trebuchet MS';
        font-weight: 560;
     }

     .v{
        color: rgba(0, 0, 0, 0.452);
        text-align: center;
        font-size: 12px;
        margin-top: 15px;
    }




}